.details {
  display: flex;
  border-top: 1px solid #f0f0f0;
  padding: 8.2rem 0;
  margin: 0 10rem;

  @media screen and (max-width: 1078px) {
    margin: 0 3rem;
  }

  @media screen and (max-width: 928px) {
    flex-direction: column;
    align-items: center;
    padding: 4.2rem 0;
    row-gap: 27px;
  }

  @media screen and (max-width: 600px) {
    margin: 0 1.6rem;
  }

  &__img {
    object-fit: cover;
    width: 44.4rem;
    height: 53rem;
    border-radius: 20px;
    margin-right: 4rem;

    @media screen and (max-width: 928px) {
      margin: 0 1.6rem;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    @media screen and (max-width: 435px) {
      max-width: 35.8rem;
      height: 29rem;
      flex: 1;
    }
  }

  &__info-text {
    font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    padding: 2rem 0 2.4rem;
    border-bottom: solid 1px #f0f0f0;

    @media screen and (max-width: 768px) {
      line-height: 20px;
    }
  }

  &__size {
    font-size: 1.6em;
    margin: 2.4rem 0 1.6rem;
    padding: 2.4rem 0 0;
    color: rgba(0, 0, 0, 0.6);
    border-top: solid 1px #f0f0f0;
  }

  &__btn-size {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-bottom: 2.4rem;

    @media screen and (max-width: 441px) {
      gap: 0.8rem;
    }
  }

  &__btn-wrapper {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #f0f0f0;
  }
}

.selected {
  background-color: #000;
  color: #fff;
}
