.counter {
  display: flex;
  gap: 3.2rem;
  padding-bottom: 11.6rem;

  @media screen and (max-width: 1108px) {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }

  @media screen and (max-width: 976px) {
    padding-bottom: 0;
    justify-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 456px) {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }

  &__numbers {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border: 1px solid hsla(0, 0%, 0%, 0.1);

      @media screen and (max-width: 976px) {
        right: -10px;
      }
    }

    &:nth-last-child(1)::before {
      border: 0;
    }

    @media screen and (max-width: 1108px) {
      &:nth-last-child(2)::before {
        border: 0;
      }

      &:nth-last-child(1) {
        grid-column: span 2;
        justify-items: center;
      }
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-right: 3.2rem;
    line-height: 22px;
    color: hsla(0, 0%, 0%, 0.6);

    @media screen and (max-width: 456px) {
      font-size: 1.2rem;
    }
  }

  span {
    padding-right: 3px;
    font-size: 4rem;

    @media screen and (max-width: 456px) {
      font-size: 2.4rem;
    }
  }
}
