.counter {
  display: flex;
  gap: 3.2rem;
  padding-bottom: 11.6rem;

  &__numbers {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border: 1px solid hsla(0, 0%, 0%, 0.1);
    }

    &:nth-last-child(1)::before {
      border: 0;
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-right: 3.2rem;
    line-height: 22px;
    color: hsla(0, 0%, 0%, 0.6);
  }

  span {
    padding-right: 3px;
    font-size: 4rem;
  }
}
