.links {
  display: flex;

  @media screen and (max-width: 758px) {
    display: grid;
    row-gap: 2.4rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  &__container {
    margin-right: 11.3rem;
    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 1252px) {
      margin-right: 6rem;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 3px;
    margin-bottom: 26px;

    @media screen and (max-width: 758px) {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    margin-bottom: 26px;
    &-list {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none;
      line-height: 19px;
      transition: color 0.4s ease;
      &:hover {
        color: #212529;
      }
    }
  }
}
