.footer {
  position: relative;
  margin-top: 17rem;
  background-color: #f0f0f0;

  @media screen and (max-width: 1280px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 600px) {
    padding: 0 16px;
  }

  @media screen and (max-width: 375px) {
    margin-top: 10rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    padding-bottom: 50px;
    margin: 0 auto 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__info {
    margin-right: 11.3rem;

    @media screen and (max-width: 992px) {
      margin: 0;
      padding-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 12px;
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-1px);
      opacity: 0.7;
    }
  }

  &__wrapper {
    position: absolute;
    top: -90px;
    left: 100px;
    display: flex;
    background-color: #000;
    max-width: 124rem;
    width: 100%;
    padding: 36px 64px;
    border-radius: 20px;
    height: 180px;
    justify-content: space-between;

    &-container {
      position: relative;
    }
  }

  &__text {
    margin: 25px 0 35px;
    max-width: 24.8rem;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);

    @media screen and (max-width: 992px) {
      max-width: 35.7rem;
      margin: 0 0 20px 0;
    }
  }

  &__input {
    border-radius: 62px;
    padding: 12px 64px 12px 12px;
    outline: none;
    &::before {
      content: '';
      background-image: url(../assets/mail.svg);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.6rem;
      background-size: cover;
    }
    &:focus {
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
      color: #000;
    }
  }

  &__copyright {
    display: flex;
    margin: 0 100px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8.2rem;

    &-img {
      width: 46px;
      height: 30px;
      padding: 6px;
      background: white;
      border-radius: 6px;
      margin-right: 12px;

      @media screen and (max-width: 668px) {
        width: 40px;
        height: 25px;
        margin-right: 10px;
      }
    }

    &-text {
      max-width: 26.9rem;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
    }

    @media screen and (max-width: 856px) {
      margin: 0;
    }

    @media screen and (max-width: 668px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }
}

.newsletter {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -90px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 20px;
  max-width: 124rem;
  min-height: 18rem;
  padding: 36px 64px;

  @media screen and (max-width: 1024px) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media screen and (max-width: 830px) {
    padding: 36px 32px;
  }

  @media screen and (max-width: 688px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 436px) {
    padding: 36px 24px;
  }

  &__text {
    max-width: 53.1rem;
    font-size: 4rem;
    align-self: center;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
    text-transform: uppercase;

    @media screen and (max-width: 830px) {
      font-size: 3.2rem;
      line-height: 35px;
    }
  }

  &__container {
    position: relative;
    max-width: 34.9rem;

    @media screen and (max-width: 688px) {
      max-width: 100%;
    }
  }

  &__img {
    position: absolute;
    left: 18px;
    transform: translateY(100%);
    width: 20px;
    height: 15px;
  }

  &__input {
    max-width: 34.9rem;
    width: 100%;
    padding: 15px 0 15px 52px;
    border: none;
    border-radius: 6.2rem;
    font-size: 16px;
    margin-bottom: 14px;
    outline: none;
    &:focus {
      background-color: #f8f9fa;
    }

    @media screen and (max-width: 688px) {
      max-width: 100%;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.4rem;
    }
  }
}
