.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  transition: all 0.3s ease;

  &__scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__banner {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    transition: all 0.4s ease;
    z-index: 99;

    &.visible {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background-color: #000;
      padding: 1rem 0;
    }

    span {
      padding-left: 4px;
      text-decoration: underline;
      font-weight: 500;
      cursor: pointer;
      transition: color 0.4s ease;
      &:hover {
        color: #d6c9c9;
      }
    }
  }

  &__logo {
    @media screen and (max-width: 809px) {
      margin: 0 40px;
    }

    @media screen and (max-width: 425px) {
      margin: 0 20px 0 40px;
    }
  }

  &__discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 10px;

    &-text {
      font-size: 1.4rem;

      @media screen and (max-width: 398px) {
        font-size: 1.2rem;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 144rem;
    margin: 0 10rem;
    background-color: #fff;
    padding: 6.2rem 0 2.4rem;
    transition: padding 0.3s ease;

    @media screen and (max-width: 809px) {
      margin: 0 30px;
    }

    @media screen and (max-width: 600px) {
      margin: 0 16px;
    }

    &-menu {
      display: none;
      left: -100%;

      @media (max-width: 1078px) {
        display: flex;
      }
    }

    &-close {
      padding: 2.4rem 0rem;
    }
  }

  &__btn {
    position: fixed;
    right: 13.3rem;
    border: none;
    width: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    margin-left: 40.25rem;
    transition: all 0.7s ease;
    cursor: pointer;
    @media screen and (max-width: 690px) {
      display: none;
    }

    &:hover {
      color: rgb(228, 228, 228);
    }

    &-icon,
    img {
      position: relative;
      margin-right: 1.4rem;
      border: none;
      background: transparent;
      cursor: pointer;
      transition: opacity 0.4s ease;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.5;
      }

      span {
        position: absolute;
        top: -2px;
        display: flex;
        right: -6px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: red;
        color: #fff;
        text-align: center;
        align-items: center;
        padding: 2px;
        font-size: 12px;
        justify-content: center;
      }
    }
  }
}

.open {
  display: none;

  @media screen and (max-width: 1078px) {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(8, 28, 21, 0.9);
    backdrop-filter: blur(5px);
    z-index: 999;
    width: 100%;
    height: 100vh;
    transition: left 0.4s ease-in-out;

    &__btn {
      border: none;
      background: transparent;
      color: currentColor;
      position: absolute;
      top: 74px;
      left: 30px;
      cursor: pointer;
      transition: all 0.3s ease;

      @media screen and (max-width: 600px) {
        left: 16px;
      }
    }

    .menu-active {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 100%;

      li {
        max-width: 30rem;
        list-style: none;
      }
    }
  }
}
