.navigation {
  display: flex;
  margin-right: 4rem;
  min-width: 32rem;

  @media screen and (max-width: 1078px) {
    display: none;
    margin-right: 0;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 24px;
    align-items: center;

    li {
      cursor: pointer;
    }

    @media (max-width: 1078px) {
      display: none;
    }
  }

  &__item {
    text-decoration: none;
    font-size: 1.6rem;
    color: #000;
    transition: color 0.4s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }

    &-active {
      display: flex;
      justify-content: center;
      align-items: start;
      color: #fff;
      font-size: 3.5rem;
    }
  }
}

.menu-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  li {
    max-width: 30rem;
    list-style: none;
  }
}
