.tabs__content_details {
}

.tabs__content_title {
  font-size: 2rem;
  padding: 2rem 0 0;
}

.tabs__content_subtitle {
  font-size: 1.6em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0 2.4rem;
}
