.product-details-container {
  margin-bottom: 2.4rem;
}

.product-details-text {
  font-size: 2rem;
  padding: 2rem 0 0;
}

.product-details-subtext {
  font-size: 1.6em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2rem 0 0;
}
