.card__price {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 10px;

  &-new {
    padding-right: 10px;
  }

  &-old {
    text-decoration: line-through;
    color: hsla(0, 0%, 0%, 0.4);
    padding-right: 10px;
  }

  &-discount {
    display: flex;
    justify-content: center;
    font-weight: 500;
    // font-size: 12px;
    max-width: 5.8rem;
    width: 100%;
    border-radius: 62px;
    padding: 6px;
    color: #ff3333;
    background: hsla(0, 100%, 60%, 0.1);
  }
}
