.rating {
  display: flex;
  align-items: center;
  max-width: 150px;
  gap: 5px;

  &__stars {
    margin-right: 4px;
    height: 18px;
  }

  &__num {
    font-size: 14px;
    margin-left: 13px;

    &-color {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
