.title {
  font-size: clamp(2.75rem, 1.7143rem + 1.4286vw, 4.75rem);
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  margin-bottom: 5.5rem;
}

.max-width {
  @media screen and (max-width: 425px) {
    max-width: 160px;
  }
}
